body {
    background-image: url('assets/BlackBG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;    color: rgb(0, 34, 255);
    font-size: 6vh;
    
}

img {
    width: 60vh;
    margin-top: 10vh;
}

hr {
    color: darkblue;
    background-color: darkblue;
}

#totalNumber {
    background-color:rgba(0, 0, 139, 0);
    border: 1vh;
    border-color: blue;
    border-style: hidden;
}

#nowNumber {
    background-color: rgba(0, 0, 0, 0);
    border: 1vh;
    border-color: blue;
    border-style: hidden;
    margin-top: 12vh;

}
